::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #000000;
    border: 31px none #000000;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
}
::-webkit-scrollbar-track {
    background: #080808;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: #000000;
}
::-webkit-scrollbar-track:active {
    background: #000000;
}
::-webkit-scrollbar-corner {
    background: transparent;
}